<style>
.ui.teal.inverted.menu {
    background-color: #48BEFF;
  }
.ui.green.button {
  background-color: #04A777;
}
.ui.blue.button {
  backgtround-color: #5DA9E9;
}
</style>
<div class="ui stackable teal inverted borderless menu">
  <div class="item header">
   dl.center
  </div>
  <div class="item">
    Transfer files between nearby devices
  </div>
</div>

<input type="file" class='file-upload' multiple/>

<div ng-if="remote_shares.length > 1" class='ui center aligned container'>
  <a ng-href="{{downloadhost}}/all" class='ui teal button'>Download all</a>
</div>

<div ng-if="!connected" class='ui center aligned red message'>
  Disconnected, trying to reconnect
</div>

<div class="ui three stackable cards">

  <div class="card file-upload">
    <div class="content">
      <div class="header">
        Share a file
      </div>
      <div class="description">
        You can also drag and drop from your computer here.
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui green button"><i class='plus icon'/>Select file</div>
      </div>
    </div>
  </div>
  <div class="card text-upload">
    <div class="content">
      <div class="header">
        Share some text (beta)
      </div>
      <div class="description">
        <textarea name="text" rows="4"></textarea>
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui green button" id='content-share'><i class='plus icon'/>Share</div>
      </div>
    </div>
  </div>
  <div ng-repeat="share in remote_shares" class="card">
    <div class="content">
      <a ng-click="remove_share(share)">
        <i class="right floated red remove icon"></i>
      </a>
      <div class="header">
        {{share.name}}
      </div>
      <div class="meta">
        {{filesize(share.size)}}
      </div>
      <div class="description">
        <pre ng-if="!share.link">{{share.content}}</pre>
        <p ng-if="share.link">
          <a ng-href="{{share.content}}">{{share.content}}</a>
        </p>
      </div>
    </div>
    <div class="extra content">
      <a ng-click='open_modal(share.uuid)' target='_blank'>
          <i class='qrcode icon'></i> Show qrcode
      </a>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <a class='ui blue button' download target='_blank' ng-href="{{downloadhost}}/share/{{share.uuid}}"><i class='download icon'/>Download</a>
      </div>
    </div>
    <div class='ui modal' id="modal-{{share.uuid}}">
      <div class="header">{{share.name}}</div>
      <div class="image content">
        <qrcode ng-if="!share.content" data="{{downloadhost}}/share/{{share.uuid}}" error-correction-level="M" size="200"></qrcode>
        <qrcode ng-if="share.content" data="{{share.content}}" error-correction-level="M" size="200"></qrcode>
      </div>
      <div class="description">
        <pre>{{share.content}}</pre>
      </div>
      <div class="actions">
        <div class="ui approve button">Close</div>
      </div>
    </div>
  </div>
</div>
<div class="ui icon message">
  <i class="ui info icon"></i>
  <div class="content">
    <div class="header">
      How to use
    </div>
    <p>Share a file, stay on this page. Open <a target='_blank' href='https://dl.center'>dl.center</a> on another device using the same internet connection. Click on download !</p>
  </div>
</div>
<div class="ui right aligned basic segment">
  Made with&nbsp;
  <i class='ui heart icon'></i>
   by&nbsp;
   <a target='_blank' href="https://twitter.com/gmonserand">@gmonserand</a>
</div>
